﻿@{
    ViewBag.Title = "Список файлов";
}
<h1>Список файлов</h1>

<p id="errors" class="text-danger" />
<img src="~/Content/Images/busy.gif" id="busy" />
<div id="files">
</div>


@Scripts.Render("~/bundles/main")
<script>
    var page = getParameterByName('page');
    GetPage(getParameterByName('order'), page === null ? 0 : page);
</script>