﻿@model IEnumerable<TestLoad.Models.ImageView>
<nav>
    <ul id="pagination" class="pagination">
        
    </ul>
</nav>
<table class="table">
    <thead>
    <tr>
        <th>
            <nobr>
                @Html.DisplayNameFor(model => model.Number)
            </nobr>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StrSize)
        </th>
        <th >
            <nobr>
                   <span class="alignment">@Html.DisplayNameFor(model => model.Added)</span>
                    <button id="ordre" class="btn btn-default" onclick="GetPage('true', null) ">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                    <button id="ordre-desc" class="btn btn-default" onclick="GetPage('false', null) ">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </button>
            </nobr>
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr @if (item.Backlight) { @: class="success"
                            }>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td onmouseover="ShowImg('@item.Url')" onmouseout="HideImg()">
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StrSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Added)
                </td>

            </tr>
        }
    </tbody>

</table>


<div id="show-img" >
    <img id="showing" class="preview-table"/>
</div>