﻿@{
    ViewBag.Title = "Загрузка";
}
<h1>Загрузка</h1>
<div>
    <span class="btn btn-default btn-file">
        <input type="file" class="btn-default" name="upload"
               id="upload-file" multiple="multiple" onchange="UpdateFiles(this)"
               accept="image/jpeg,image/png,jpg|png" />
        Обзор
    </span>
    <button id="submit" class="btn btn-default" onclick=" LoadFiles() ">Загрузить</button>
   
    <p id="errors" class="text-danger"/>
    <div class="row">
        <div id="files" class="col-md-6"></div>
        <div class="col-md-2">
            <img id="real-img"/>
        </div>

    </div>
</div>


@Scripts.Render("~/bundles/loader")